{# The ``entry`` object must be from the ``items.Item`` sub-class #}
{% if entry %}
<tr>
    <td class="col-title"><a href="{{ entry.get_absolute_url }}">{{ entry.title }}</a></td>
    <td class="col-authors">{{ entry.author_list_all_lastnames|safe }}</td>
    <td class="col-year">{{ entry.year }}</td>
    <td class="col-tags">
        <div class="tag-list">
            {% for tag in entry.tags.all %}
            <a href="{% url 'lit-show-items' what_view='tag' extra_info=tag.slug %}" class="lit-tag">{{ tag.name }}</a>
            {% endfor %}
        </div>
    </td>
</tr>
{% endif %}
