{% if entries.object_list %}

<table class="lit-items-table">
    <colgroup>
        <col class="col-title">
        <col class="col-authors">
        <col class="col-year">
        <col class="col-tags">
    </colgroup>
    <thead>
        <tr>
            <th scope="col">Title</th>
            <th scope="col">Author(s)</th>
            <th scope="col">Year</th>
            <th scope="col">Tags</th>
        </tr>
    </thead>
    <tbody>
        {% for entry in entries.object_list %}
        {% include 'items/_item_row.html' %}
        {% endfor %}
    </tbody>
</table>

{% if entries.has_previous or entries.has_next %}
<div class="lit-pagination">
    {% if entries.has_previous %}
    <a href="?q={{query}}&page={{ entries.previous_page_number }}">&laquo; Previous</a>
    {% endif %}
    <span class="current">Page {{ entries.number }} of {{ entries.paginator.num_pages }}</span>
    {% if entries.has_next %}
    <a href="?q={{query}}&page={{ entries.next_page_number }}">Next &raquo;</a>
    {% endif %}
</div>
{% endif %}

{% else %}
<p class="lit-search__results-note">{% if no_entries_message %}{{ no_entries_message }}{% else %}There are no items matching your criteria.{% endif %}</p>
{% endif %}
