{% extends "base.html" %}
{% load core_tags %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}

<p class="detail-topbar"><a href="{% url 'lit-main-page' %}">&larr; Back to home</a></p>

<h3>All tags</h3>

<div class="tag-list">
    {% for item in "item"|cloud:0 %}
    <a href="{% url 'lit-show-items' what_view='tag' extra_info=item.tag.slug %}"
       class="lit-tag-cloud"
       title="{{ item.tag.description|default:item.tag.name }}"
       style="font-size: {{ item.score }}%">{{ item.tag.name }}<sup class="lit-tag-cloud__count">{{ item.count }}</sup></a>
    {% endfor %}
</div>

{% endblock %}
