{% extends "core.html" %}


{% block title %}{{item.title}}{% endblock %}

{% block content %}

  <div id="lit-item-header">
	<div id="lit-item-header-left">{% if item.previous_item %}<a href="{{item.previous_item}}">Previous</a>{% endif %}</div>
	<div id="lit-item-header-right">{% if item.next_item %}<a href="{{item.next_item}}">Next</a>{% endif %}</div>
  </div>


  <h2>{{item.title}}</h2>

  <div id="lit-itemdisp-container">

    <div class="lit-item-row">
    </div>

    <div class="lit-item-row">
      <span class="lit-item-label">Authors:</span>
      <span class="lit-item-entry">{{item.full_author_listing|safe}}</span>
    </div>

    <div class="lit-item-row">
      <span class="lit-item-label">Publication year:</span>
      <span class="lit-item-entry"><a href="{% url lit-show-items what_view="pub-by-year" extra_info=item.year %}">{{ item.year }}</a></span>
    </div>

    {% if item.doi_link %}
    <div class="lit-item-row">
      <span class="lit-item-label">DOI link:</span>
      <span class="lit-item-entry"><a href="{{item.doi_link}}">{{item.doi_link_cleaned}}</a></span>
    </div>
    {% else %}
	  {% if item.web_link %}
		<div class="lit-item-row">
		  <span class="lit-item-label">External link:</span>
		  <span class="lit-item-entry"><a href="{{item.web_link}}">{{item.web_link}}</a></span>
		</div>
	  {% endif%}
	{% endif%}

	{% if item.show_abstract %}
    <div class="lit-item-row">
      <span class="lit-item-label">Abstract:</span>
      <span class="lit-item-entry">{{item.abstract}}</span>
    </div>
	{% endif%}

    <div class="lit-item-row">
      <span class="lit-item-label">Citation:</span>
      <span class="lit-item-entry lit-item-description">{{item.full_citation|safe}}</span>
    </div>

    <div class="lit-item-row">
      <span class="lit-item-label">Tags:</span>
      <span class="lit-item-entry">{% for tag in tag_list %}<span><a href="{% url lit-show-items what_view="tag" extra_info=tag %}" class="lit-tag">{{tag.name}}</a></span>{% endfor %}</span>
    </div>
    <div style="clear:both;">&nbsp;</div>

    <div class="lit-item-row">
      <span class="lit-item-label">Download PDF:</span>
      {% if item.download_link %}

	    <img src="{{MEDIA_URL}}literature/nuvola_mimetypes_pdf.png" width="24">
		<span class="lit-item-entry"><a href="{{item.download_link}}">Get PDF</a> [{{item.download_size|filesizeformat}}]</span>
	  {% else %}
	    No PDF available
	  {% endif %}
    </div>

  </div>

  <div style="clear: both;"><p>&nbsp;</div>

{% endblock %}