{% extends 'base.html' %}


{% block title %}Search results{% endblock %}

{% block content %}

    {% if query %}

        <div id="lit-search-results-note">
            Search results may come from the full article text and abstract, not only  words in the article's title.
        </div>
        {% with page as entries %}

            {% include 'items/entries_list.html' %}
        {% endwith %}

    {% else %}
        {# Show some example queries to run, maybe advanced query syntax #}
    {% endif %}

    {# include "search/includes/main-search-box.html" #}

{% endblock %}