{# extends "base.html" #}

{% block title %}Home{% endblock %}

{% block content %}

<div id="lit-site-statement">
    A collection of references related to latent variable methods and various applications. <i>Full text and abstracts</i> are searched below.
</div>

{# include "search/includes/main-search-box.html" #}

{# load core_tags #}
  <div class="lit-portal-container">
	<div class="lit-portal-row-container">
	  <div class="lit-portal-row">
		<div class="lit-portal-left lit-portal">
		  <h3>Recently added</h3>
			<ul>
			{% for item in latest_items %}
			    <li><a href="{{ item.get_absolute_url }}">{{ item.title|truncatewords:16 }}</a></li>
			{% endfor %}
			</ul>

			<a href="{% url 'show-items--all' %}">Show all</a>
		</div>
	  </div>
	</div>
	<div style="clear: both;"></div>
  </div>


{% endblock %}
