{% load static from staticfiles %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Language" content="en-us" />
  <title>{% block title %}{% endblock %} | Latent Variable Literature</title>
  <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link rel="stylesheet" href="{% static "literature/literature.css" %}?{{VERSION}}" type="text/css" media="Screen"/>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML' async></script>
</head>
<body>

{% block extra_head %}{% endblock %}

{% block body %}

  <div id="lit-container">
	<div id="lit-header">
	  <!--<div class="lit-header-row" id="lit-site-notice">-->
		<!--Message here-->
	  <!--</div>-->


	  <div class="lit-header-row" id="lit-top-menu">
		<div class="lit-header-left">
		  <a href="{% url "lit-main-page" %}" accesskey="h">Home</a>
		</div>
		<div class="lit-header-right">

		</div>
	  </div>
	  <div class="lit-header-row" id="lit-site-title">
		<h1><a href="{% url "lit-main-page" %}" title="Latent Variable Method Literature">Latent Variable Method Literature</a></h1>
	  </div>
    </div> <!--#lit-header-->
    <div style="clear:both;"></div>


    <div id="lit-contentwrap">
      <div id="lit-content-main">
        <div id="lit-border">
          <div id="lit-section-body">
            {% block content %}{% endblock %}
          </div><!--#lit-section-body-->
        </div><!--#lit-border-->
      </div><!--lit-content-main-->
    </div><!--#lit-contentwrap-->

    <div id="lit-footer">
      <div class="lit-footer-left">
        <ul>
          <li><a href="{% url "lit-about-page" %}">About this site</a></li>
          <li>Site sponsor: <a href="https://learnche.org">LearnChe.org</a>
        </ul>
	  </div>
      <div class="lit-footer-right">
        © {% now "Y"%} All Rights Reserved.
	  </div>
    </div> <!--#lit-footer-->

  </div><!--#lit-container-->

{% endblock %}

{{ANALYTICS_SNIPPET|safe}}
</body>
</html>
